body {
    background-color: black;
}

.section-one {
    width: 100%;
    height: 900px;
    background-image: url("../images/900x600-empower-yourself-min2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    align-items: center;
}

#main-image {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.logo {
    text-align: center;
    width: 260px;
    height: 100px;
    padding: 100px 25px 5px 25px;
}

.logos-container {
    display: inline-block;
    flex-wrap: wrap;
}

.text-container {
    margin: auto;
    flex-wrap: wrap;
    width: 35%;
}

#text-container-top {
    color: white;
    font-size: 45px;
    font-weight: 300;
}

#text-container-bot {
    color: white;
    font-size: 22px;
    font-weight: 300;
}

.buttons-container {
    margin-top: 250px;
}

.button-top {
    margin: 0 25px 0 25px;
    padding: 0 40px 0 40px;
    background-color: rgb(247, 222, 0);
    font-size: 15px;
    white-space: nowrap;
    line-height: 35px;
    font-weight: 700;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
}

.secttion-two {
    width: 100%;
    height: 1200px;
    text-align: center;
}

.section-two-contaier {
    width: 65%;
    margin-top: 300px;
    display: inline-flex;
    align-items: center;
}

.secttion-two-text-container {
    margin-left: 30px;
}

.secttion-two img {
    width: 500px;
    height: 350px;
}

#section-two-top-text {
    font-size: 50px;
    color: white;
}

#section-two-bot-text {
    font-size: 35px;
    color: white;
}
.secttion-two li {
    color: white;
    font-size: 22px;
}

ul {
    list-style: none;
}

ul li::before {
    text-align: left;
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    content: "✓";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.section-two-footer-container {
    width: 40%;
    margin-top: 200px;
    display: inline-flex;
    color: rgb(247, 222, 0);
}

.section-two-footer-text {
    margin: auto;
}

.span-title {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    display: block;
}

.span-subtitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    display: block;
}

.section-two-footer-container a {
    float: left;
    box-shadow: inset 0 0 0 2px;
    color: rgb(247, 222, 0);
    border-radius: 250px;
    /*vertical-align: middle;*/
    /*display: inline-block;*/
    padding: 18px 34px;
    font-size: 20px;
    line-height: 22px;
    outline: none;
    border: none;
}

.section-three {
    width: 100%;
    height: 900px;
    text-align: center;
}

.section-three-heading {
    width: 100%;
    height: auto;
    text-align: center;
}

.section-three-heading h3 {
    color: white;
}

.section-three-heading p {
    color: white;
}

.mySlides {
    display: none
}

/* Slideshow container */

.main-image {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.slideshow-container {
    max-width: 900px;
    max-height: 600px;
    position: relative;
    margin: auto;
}

.arrows {
    padding: 200px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(247, 222, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text-heading {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
}

.text-commnets {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
    color: rgb(247, 222, 0);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section-four {
    width: 100%;
    height: 900px;
    text-align: center;
    background-color: lime;
}